<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>purchaseId</key>
		<string>iturbide.metalic.neon</string>
		<key>purchaseClass</key>
		<string>MFiltersItemPremiumNeon</string>
	</dict>
    <dict>
        <key>purchaseId</key>
        <string>iturbide.metalic.ember</string>
        <key>purchaseClass</key>
        <string>MFiltersItemPremiumEmber</string>
    </dict>
    <dict>
        <key>purchaseId</key>
        <string>iturbide.metalic.selfer</string>
        <key>purchaseClass</key>
        <string>MFiltersItemPremiumSelfer</string>
    </dict>
</array>
</plist>
